.add-todo-form {
  &.is-hidden {
    display: none;
  }
}

.add-todo-form__form-group--inline {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0;
  .feather {
    color: $primary-color;
  }
}

.add-todo-form__input {
  width: calc(100% - 34px);
  &::placeholder {
    color: $primary-color;
  }
  &:focus {
    outline: none;
    &::placeholder {
      color: rgba($dk-grey, 0.6);
    }
  }
}

.add-todo-form__btn {
  margin-left: 4px;
}