.badge--due-date {
  position: absolute;
  bottom: 1px;
  left: 42px;
  display: block;
  font-size: 10.5px;
  margin-left: 4px;
  letter-spacing: .02em;
  color: rgba($dk-grey, 0.4);
  &.is-hidden {
    display: none;
  }
}

.badge--today {
  color: $red;
}

.badge--tomorrow {
  color: $primary-color;
}