.breadcrumb {
  position: absolute;
  top: -16px;
  left: 0;
  display: block;
  font-size: 10.5px;
  padding: 0 6px;
  letter-spacing: .03em;
  color: rgba($grey, 0.6);
  font-style: italic;
}

.breadcrumb__link {
  padding: 0;
  color: $grey;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}