.breadcrumbs {
  position: absolute;
  bottom: 1px;
  left: 42px;
  display: block;
  font-size: 10.5px;
  padding: 0 6px;
  letter-spacing: .02em;
  color: rgba($grey, 0.6);
  font-style: italic;
}

.breadcrumbs__link {
  padding: 0;
  color: $grey;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  &:hover, &:active {
    color: $primary-color;
  }
}