.breadcrumbs {
  position: absolute;
  bottom: 8px;
  left: 44px;
  display: block;
  font-size: 10.5px;
  letter-spacing: .02em;
  color: rgba($grey, 0.6);
  font-style: italic;
  font-family: $heading-font;
  @include sm {
    left: 40px;
  }
}

@supports (-webkit-overflow-scrolling: touch) {
  /* CSS specific to iOS devices */
  .breadcrumbs {
    left: 44px;
  }
}

.breadcrumbs__link {
  padding: 0;
  color: $grey;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  vertical-align: middle;
  -webkit-font-smoothing: subpixel-antialiased;
  cursor: pointer;
  &:hover, &:active {
    color: $primary-color;
  }
}

.breadcrumbs__folder {
  vertical-align: middle;
  color: $grey;
  .feather-chevron-right {
    margin: 0 4px;
    width: 12px;
    height: 12px;
  }
}