// Colors
$primary-color: #6381ff;
$dk-grey: #404551;
$grey: #565d6d;
$lt-grey: #d6dee2;
$white: #fff;
$black: #15161a;
$off-white: #f6f6f9;
$green: #00f2af;
$dk-green: #00a376;
$pink: #ff7ca0;
$dk-pink: darken($pink, 10%);
$red: #f2002e;
$yellow: #ffdb7c;
$orange: #ff9a7c;
$dk-orange: #ff5f2e;
$purple: #9a7cff;
$dk-purple: darken($purple, 10%);
$blue: #63dcff;
$dk-blue: #3058ff;
$lemon: #ffe163;
$lemon-shadow: #ccb42a;

// Fonts
$heading-font: 'Montserrat', Helvetica, Arial, sans-serif;
$body-font: 'Roboto', Arial, sans-serif;

// Screen size variables
$screen-xs-min: 425px;  // Tiny phones
$screen-sm-min: 576px;  // Small tablets and large smartphones (landscape view)
$screen-md-min: 768px;  // Small tablets (portrait view)
$screen-lg-min: 992px;  // Tablets and small desktops
$screen-xl-min: 1200px; // Large tablets and desktops