
.bulk-actions-toolbar {
  z-index: 99;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.1);
  margin-top: -16px;
  margin-bottom: 0;
}

[type="checkbox"] + .bulk-actions__checkbox-label {
  border-radius: 50%;
  border-width: 2px;
  border-color: $primary-color;
}

[type="checkbox"]:checked + .bulk-actions__checkbox-label {
  background-color: $primary-color;
}

[type="checkbox"]:checked + .bulk-actions__checkbox-label:after {
  border-color: $white;
  left: 5.5px;
  width: 5px;
  height: 8.5px;
  top: 3px;
}

label.bulk-actions__checkbox-label {
  margin-right: 12px;
}

.bulk-actions-toolbar__item--check-all {
  text-align: left;
  border-right: 1px solid rgba($dk-grey, 0.4);
  height: 32px;
  padding-right: 16px;
  .toolbar__item-label {
    font-size: 11px;
  }
}

.bulk-editing-list__item {
  margin: 0;
  border-radius: 0;
  z-index: 3;
  margin-right: 8px;
  &.is-checked {
    background-color: rgba($primary-color, 0.15);
  }
}

.bulk-editing-list {
  background-color: rgba($off-white, 0.6);
  margin-top: 0;
}

.sticky-toolbar .bulk-actions-toolbar {
  position: fixed;
  margin-top: 0;
  margin: 0;
  top: 58px;
  left: auto;
  max-width: 960px;
  width: calc(100% - 16px);
  background-color: $white;
  @include md {
    width: calc(100% - 64px);
    top: 74px;
  }
  @include lg {
    width: 912px;
    top: 74px;
  }
}

.show-nav {
  .sticky-toolbar .bulk-actions-toolbar {
    width: calc(100% - 266px);
  }
  @include md {
    .sticky-toolbar .bulk-actions-toolbar {
      width: calc(100% - 314px);
    }
  }
  @include lg {
    .sticky-toolbar .bulk-actions-toolbar {
      width: calc(100% - 330px);
    }
  }
}

@media (min-width: 1242px) {
  .show-nav .sticky-toolbar .bulk-actions-toolbar {
    width: 912px;
  }
}