.new-list-name__input {
  max-width: 320px;
  background-color: rgba($primary-color, 0.2);
  border-radius: 20px;
  padding: 16px;
}
.new-list-form__form-group--inline {
  width: 100%;
  display: inline-block;
}
.new-list-form__input {
  width: calc(100% - 30px)
}

@media (max-width: 767px) {
  .new-list-form__container {
    padding: 24px;
    width: 100%;
    height: 100vh;
    background-color: $white;
  }
  .new-list-form__wrapper {
    box-shadow: none;
    top: 0;
    left: 0;
  }
  .show-nav .new-list-form__wrapper {
    top: 0;
  }
}

input[name="folder"] {
  position: absolute;
  visibility: hidden;
  &:checked + label {
    font-weight: 700;
    .feather {
      fill: $green;
    }
  }
}

.form__title {
  margin-bottom: 32px;
}

.form__label--folder {
  vertical-align: middle;
  padding: 8px 0;
  width: calc(100% - 24px);
  font-size: 16px;
  display: inline-block;
  font-family: $body-font;
  .feather {
    margin-right: 10px;
  }
  &:focus {
    outline: none;
  }
}
