.new-list-form__container {
  z-index: 99;
}

.form__input--list-name {
  max-width: 320px;
  border-radius: 5000px;
  padding: 14px 32px;
  height: auto;
  border-bottom: 2px solid transparent;
  &:focus {
    border-bottom-color: $primary-color;
  }
  background-color: rgba($primary-color, 0.15);
}
.new-list-form__form-group--inline {
  width: 100%;
  display: inline-block;
}
.new-list-form__input {
  width: calc(100% - 24px);
  padding: 8px;
  &:focus {
    border: 1px solid $lt-grey;
  }
}

@media (max-width: 767px) {
  .show-nav .new-list-form__wrapper {
    top: 0;
  }
}

input[name="folder"] {
  position: absolute;
  visibility: hidden;
  display: none;
  &:checked + label {
    font-weight: 700;
    position: relative;
    display: block;
  }
  &:checked + label::after {
    border-color: $primary-color;
    left: 12px;
    top: 30%;
  }
}

.form__title {
  margin-bottom: 32px;
}

.form__label--folder {
  vertical-align: middle;
  padding: 8px 0 8px 32px;
  position: relative;
  width: calc(100% - 24px);
  font-size: 16px;
  display: inline-block;
  font-family: $body-font;
  &:focus {
    outline: none;
  }
}

.label--text {
  .feather {
    width: 20px;
    height: 20px;
    margin-right: 12px;
    position: relative;
    top: -2.5px;
  }
}

.new-list-form__btn--create-folder {
  margin-right: 1px;
  position: relative;
  left: -2px;
  width: 21px;
  height: 30px;
  color: $primary-color;
  .feather {
    width: 20px;
    height: 20px;
  }
}

.new-list-form__input--folder {
  &::placeholder {
    color: $primary-color;
  }
  &:focus {
    border-color: transparent;
    &::placeholder {
      color: rgba($dk-grey, 0.6);
    }
  }
}

