.onboarding__desc,
.onboarding__list {
  font-size: 14px;
  line-height: 1.4;
  font-family: $body-font;
  margin: 8px 0;
  color: $grey;
}

.onboarding__title {
  text-align: center;
  font-size: 1.5rem;
}

.onboarding__list {
  li {
    margin-left: 16px;
    strong {
      color: $primary-color;
    }
  }
}

.onboarding__btn--ref {
  font-size: 14px;
  background-color: $white;
  display: inline-block;
  margin: 0 4px;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid $lt-grey;
  .feather {
    width: 18px;
    height: 18px;
    margin-right: 8px;
  }
  &.list-actions__btn--toggle {
    background-color: $primary-color;
    .feather {
      margin: 0;
    }
  }
}

.onboarding-step__btn {
  color: $white;
  float: right;
  padding: 4px;
  margin: 4px 12px 0;
}


.onboarding__step {
  display: none;
  &.is-active {
    display: block;
  }
}

.onboarding__footer {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  &.is-active {
    display: flex;
  }
}

.onboarding {
  .modal__content {
    top: 20%;
  }
}

.onboarding__stepper {
  width: 100%;
}

.onboarding__footer-btn {
  margin: 16px 4px;
  padding: 4px 8px;
  width: 40%;
}

.onboarding__tooltip--3 {
  .tooltip__inner {
    top: 0;
    right: 64px;
  }
}

.onboarding__tooltip--1-2 {
  .tooltip__inner {
    bottom: calc(100% + 4px);
    right: -12px;
  }
}

.onboarding__tooltip--2-2 {
  .tooltip__inner {
    top: calc(100% - 16px);
    left: 24px;
  }
}