.onboarding-tooltip__title {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  padding-top: 4px;
}

.modal-onboarding__desc,
.modal-onboarding__list {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
  font-family: $body-font;
  margin: 8px 0;
}

.modal-onboarding__list {
  li {
    margin-left: 16px;
    strong {
      color: $primary-color;
    }
  }
}

.modal-onboarding__btn--ref {
  font-size: 14px;
  background-color: $white;
  display: inline-block;
  margin: 0;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid $lt-grey;
  .feather {
    width: 18px;
    height: 18px;
    margin-right: 8px;
  }
}

.onboarding-step__btn {
  color: $white;
  -webkit-font-smoothing: antialiased;
  float: right;
  padding: 4px;
  margin: 4px 12px 0;
}

.onboarding-step-3 {
  &.tooltip--bottom {
    .tooltip__inner {
      top: 56px;
    }
  }
  &.tooltip--right {
    .tooltip__inner {
      left: 0;
    }
  }
}

.modal-onboarding__step {
  display: none;
  &.is-active {
    display: block;
  }
}

.modal-onboarding__footer {
  display: none;
  &.is-active {
    display: block;
  }
}

.modal-onboarding {
  .modal__content {
    top: 40%;
  }
}