.task-details {
  background-color: $white;
  display: none;
  transition: .2s ease-out;
  padding: 0;
  max-width: 100%;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
  overflow-y: visible;
  @include md {
    height: auto;
    min-height: auto;
    align-self: flex-start;
  }
}

.task-details__section-title {
  font-family: $heading-font;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 16px 0 4px;
  letter-spacing: .05em;
}

.task-details__btn {
  padding: 0;
  .feather {
    width: 20px;
    height: 20px;
  }
}

.task-details__btn--close {
  color: $primary-color;
  .list-name {
    font-size: 14px;
    vertical-align: middle;
    line-height: 20px;
    margin-left: 4px;
    pointer-events: none;
    -webkit-font-smoothing: subpixel-antialiased;
    font-weight: 500;
  }
}

.task-details__btn--rt {
  float: right;
  position: relative;
  right: 8px;
}

.is-visible {
  display: block;
}

.todo-item__title,
.edit-todo-form__textarea--subtask {
  display: inline-block;
  margin-bottom: 0;
  background-color: transparent;
  height: 0;
  min-height: 20px;
  line-height: 1.4;
  vertical-align: middle;
  border-radius: 0;
  width: calc(100% - 69px);
  margin: 0 0 0 -4px;
  padding: 0;
}

.todo-item__title {
  padding-top: 0;
  padding-bottom: 0;
}

.edit-todo-form__tags-container {
  padding: 2px 0;
  width: calc(100% - 32px);
  display: inline-block;
  vertical-align: top;
  .form__input--inline {
    height: 25px;
  }
}

.edit-todo-form__input {
  height: 38px;
  padding: 2px 8px;
  width: calc(100% - 32px);
  border: 1px solid transparent;
  border-radius: 4px;
  &:focus {
    border:1px solid $lt-grey;
  }
}

.task-details__section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
  padding: 0 16px;
}

.task-details__header {
  padding: 16px 8px 8px;
  margin-bottom: 8px;
  position: relative;
  font-weight: 500;
}

.task-details__footer {
  padding: 16px 0 8px;
}

.task-details__name {
  margin: 0;
  padding: 0 0 0 4px;
  font-weight: 700;
  color: $dk-grey;
  font-size: 18px;
  width: calc(100% - 34px);
  min-height: 23px;
}

.task-details__lemon {
  float: right;
}

.task-details__name-wrapper {
  margin: 0 20px 32px;
  border-bottom: 2px solid $grey;
  padding-bottom: 8px;
  position: relative;
  &.is-focused {
    border-bottom-color: $primary-color;
  }
}

.edit-todo-form__form-group {
  width: 100%;
  border: none;
  font-size: 0;
  &.is-focused {
    .feather {
      color: $primary-color;
    }
    .edit-todo-form__tags-container {
      border:1px solid $lt-grey;
      border-radius: 4px;
    }
  }
}

.edit-todo-form__input--add-tag {
  display: inline-block;
  width: 100%;
}

.task-details__section-icon {
  width: 32px;
  height: 40px;
  line-height: 38px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  .feather {
    width: 20px;
    height: 20px;
  }
}

.todo-item__note {
  line-height: 1.4;
  min-height: 40px;
  overflow: hidden;
  margin-top: 0;
  padding: 8px;
  width: calc(100% - 32px);
  border: 1px solid transparent;
  border-radius: 4px;
  vertical-align: top;
  &:focus {
    border: 1px solid $lt-grey;
  }
}

// Subtasks

.subtask-list {
  margin: 0 0 4px 0;
  width: 100%;
  list-style-type: none;
}

.subtask-list__item {
  margin: 0 0 4px 0;
  padding: 4px 7px;
}