.todo-list__item {
  color: $black;
  position: relative;
  transition: all .2s ease-in-out;
  border: 1px solid transparent;
  box-shadow: 0px 1px 0 0 $lt-grey;
  border-radius: 0;
  &:hover, &:focus {
    .todo-item__btn--neutral {
      border-color: $dk-grey;
      &::after {
        border-color: $dk-grey;
      }
    }
    .todo-item__toggle-btn::before {
      border-color: $dk-grey;
    }
  }
  &.is-selected {
    background-color: $lt-primary;
    box-shadow: 0px 1px 0 0 $primary-color;
    .todo-item__btn--neutral {
      border-color: $dk-grey;
    }
    .todo-item__toggle-btn::before {
      border-color: $dk-grey;
    }
    .todo-item__toggle-btn::after {
      border-color: $dk-grey;
      transform: rotate(45deg);
      top: -4px;
      left: calc(50% + 11.7px);
    }
  }
  &.show-info {
    .todo-item__title {
      top: -8px;
    }
  }
}

.todo-list {
  margin: 16px 0 0;
  display: none;
  list-style-type: none;
  &.is-active-list {
    display: block;
    position: relative;
  }
}

.todo-list__item,
.form__textarea {
  box-sizing: border-box;
  padding: 16px 8px;
  font-size: 16px;
  margin: 0;
  font-family: $body-font;
  width: 100%;
  line-height: 16px;
  background-color: transparent;
}

.is-done {
  background-color: transparent;
  .lemon {
    opacity: 0.2;
  }
}

.todo-item__toggle-btn {
  cursor: pointer;
  position: relative;
  border: none;
  border-radius: 50%;
  box-shadow: none;
  outline: none;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin-top: 9px;
  &:hover {
    box-shadow: none;
  }
  &::before {
    content: '';
    height: 32px;
    width: 32px;
    border: 1px solid rgba($dk-grey, 0.3);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -15px;
    display: inline-block;
  }
  &::after {
    content:'';
    height: 8px;
    width: 8px;
    position: absolute;
    top: -3px;
    left: calc(50% + 10px);
		display: inline-block;
		vertical-align: middle;
		border-right: 1px solid rgba($dk-grey, 0.3);
		border-bottom: 1px solid rgba($dk-grey, 0.3);
		transform: rotate(-45deg);
		transition: transform .2s ease-out;
  }
  &.is-hidden {
    display: none;
  }
}

.active-list__title {
  margin: 16px 0;
  font-size: 1.5rem;
  padding: 8px;
  display: flex;
  align-items: center;
}

// Filtered Lists

.filtered-list {
  list-style-type: none;
}
.filtered-list__item {
  margin-bottom: 24px;
  font-family: $heading-font;
  font-size: 14px;
}

.filtered-list__sub-list {
  list-style-type: none;
  text-align: left;
  font-family: $body-font;
}

.filtered-list__sub-list-name {
  padding: 0 8px;
  margin-bottom: 8px;
}

.filtered-list__link {
  color: $dk-grey;
  text-decoration: none;
  &:hover, &:active {
    color: $primary-color;
  }
}

.filtered-list__date {
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  &--today {
    .filtered-list__weekday {
      color: $red;
    }
  }
  &--tomorrow {
    .filtered-list__weekday {
      color: $primary-color;
    }
  }
}

.filtered-list__folder-name {
  font-weight: 300;
  font-style: italic;
  .feather {
    width: 16px;
    height: 16px;
    margin: -3px 4px 0;
  }
}

.filtered-list__day-num {
  font-size: 32px;
  margin-right: 4px;
  letter-spacing: -0.02em;
  margin-top: -3px;
  font-weight: 700;
}

.filtered-list__date-group {
  display: inline-flex;
  flex-direction: column;
  margin-right: 24px;
}

.filtered-list__month {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 11px;
  margin-bottom: -1px;
}

.filtered-list__year {
  font-size: 10px;
  font-weight: 400;
  margin-top: -1px;
}

.filtered-list__weekday {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .03em;
  -webkit-font-smoothing: antialiased;
  &--lg {
    font-size: 1.5rem;
    margin-right: 8px;
  }
}

.upcoming-list.bulk-editing-list {
  background-color: transparent;
  margin-top: 16px;
  .filtered-list__sub-list {
    background-color: rgba($off-white, 0.6);
  }
}