.todo-content {
  background: transparent;
  display: none;
  transition: .2s ease-out;
  padding: 16px 0;
}

.todo-content__section-title {
  font-family: $heading-font;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 16px 0 4px;
  letter-spacing: .05em;
}

.is-visible {
  display: block;
}

.todo-item__title,
.edit-todo-form__textarea--subtask {
  display: inline-block;
  margin-bottom: 0;
  background-color: transparent;
  height: 0;
  min-height: 20px;
  line-height: 1.4;
  vertical-align: middle;
  border-radius: 0;
  width: calc(100% - 69px);
  margin: 0 0 0 -4px;
  padding: 0;
}

.todo-item__title {
  padding-top: 0;
  padding-bottom: 0;
}

.edit-todo-form__form-group--inline {
  padding: 2px 0;
  width: calc(100% - 32px);
  &.is-focused {
    border:1px solid $lt-grey;
    border-radius: 4px;
  }
  .form__input--inline {
    height: 25px;
  }
}

.edit-todo-form__input {
  height: 38px;
  padding: 2px 8px;
  width: calc(100% - 32px);
  border: 1px solid transparent;
  border-radius: 4px;
  &:focus {
    border:1px solid $lt-grey;
  }
}

.todo-content__section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
}

.edit-todo-form__form-group {
  width: 100%;
  border: none;
}

.todo-content__section-icon {
  width: 32px;
  height: 40px;
  line-height: 38px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  .feather {
    width: 20px;
    height: 20px;
  }
}

.todo-item__note {
  line-height: 1.4;
  min-height: 40px;
  overflow: hidden;
  margin-top: 0;
  padding: 8px;
  width: calc(100% - 32px);
  &:focus {
    border: 1px solid $lt-grey;
  }
}