.todo-list__item {
  color: $black;
  position: relative;
  transition: all .2s ease-in-out;
  border: 1px solid transparent;
  border-bottom-color: rgba($lt-grey, 0.8);
  &:hover, &:focus {
    background-color: $white;
    .todo-item__btn--neutral {
      border-color: $dk-grey;
      &::after {
        border-color: $dk-grey;
      }
    }
    .todo-item__toggle-btn::before {
      border-color: $dk-grey;
    }
  }
  &.is-selected {
    background-color: rgba($primary-color, 0.15);
    .todo-item__btn--neutral {
      border-color: $dk-grey;
    }
    .todo-item__toggle-btn::before {
      border-color: $dk-grey;
    }
    .todo-item__toggle-btn::after {
      border-color: $dk-grey;
      transform: rotate(45deg);
      top: -4px;
      left: calc(50% + 11.7px);
    }
  }
}

.todo-list {
  margin: 16px 0 0;
  display: none;
  list-style-type: none;
  &.is-active-list {
    display: block;
    position: relative;
  }
}

.todo-list__item,
.form__textarea {
  box-sizing: border-box;
  padding: 16px 8px;
  font-size: 16px;
  margin: 0;
  font-family: $body-font;
  width: 100%;
  line-height: 16px;
  background-color: $white;
}

.is-done {
  background-color: transparent;
}

.todo-item__toggle-btn {
  cursor: pointer;
  position: relative;
  border: none;
  border-radius: 50%;
  box-shadow: none;
  outline: none;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin-top: 9px;
  &:hover {
    box-shadow: none;
  }
  &::before {
    content: '';
    height: 32px;
    width: 32px;
    border: 1px solid rgba($dk-grey, 0.3);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -15px;
    display: inline-block;
  }
  &::after {
    content:'';
    height: 8px;
    width: 8px;
    position: absolute;
    top: -3px;
    left: calc(50% + 10px);
		display: inline-block;
		vertical-align: middle;
		border-right: 1px solid rgba($dk-grey, 0.3);
		border-bottom: 1px solid rgba($dk-grey, 0.3);
		transform: rotate(-45deg);
		transition: transform .2s ease-out;
  }
  &.is-hidden {
    display: none;
  }
}

.active-list__title {
  margin-bottom: 16px;
  font-size: 1.5rem;
  padding: 8px;
}

// Filtered Lists

.filtered-list {
  list-style-type: none;
}
.filtered-list__item {
  margin-top: 16px;
  font-family: $heading-font;
  font-size: 14px;
}

.filtered-list__sub-list {
  list-style-type: none;
  text-align: left;
  font-family: $body-font;
}

.filtered-list__link {
  color: $dk-grey;
  text-decoration: none;
  &:hover, &:active {
    color: $primary-color;
  }
}

.filtered-list__date {
  font-size: 14px;
  font-weight: 500;
  &--today {
    color: $red;
  }
  &--tomorrow {
    color: $primary-color;
  }
}

.filtered-list__folder-name {
  font-weight: 300;
  font-style: italic;
  .feather {
    width: 16px;
    height: 16px;
    margin: -3px 4px 0;
  }
}