.form__label--list {
  vertical-align: middle;
  padding: 8px 0 8px 32px;
  width: calc(100% - 24px);
  font-size: 16px;
  display: inline-block;
  font-family: $body-font;
  .feather {
    margin-right: 10px;
  }
  &:focus {
    outline: none;
  }
  &::after {
    left: 12px;
  }
}

input[name="list"] {
  position: absolute;
  visibility: hidden;
  display: none;
  &:checked + label {
    font-weight: 700;
    position: relative;
    display: block;
  }
  &:checked + label::after {
    border-color: $primary-color;
    left: 12px;
    top: 30%;
  }
}

.transfer-tasks-form__form-group--inline {
  margin-bottom: 16px;
}

.form__fieldset--lists {
  margin-bottom: 8px;
}